.dragging-active .formbuilder_main_fbwidget * {
    cursor: grabbing !important;
}

.formbuilder_main_fbwidget {
    display: flex;
    border: 1px solid rgb(204, 204, 204);
}

.drop_place_fbwidget {
    width: 100%;
    height: 10px;
}

.drop_place_fbwidget:hover {
    border-radius: var(--theme-border-radius);
    background-color: rgba(255, 99, 71, 0.363);
}

.drop_place_inactive_fbwidget {
    width: 100%;
    height: 10px;
}

.formbuilder-form--inputs {
    border-right: 1px solid rgb(204, 204, 204);
    background-color: white;
}

.panel-header {
    background-color: rgb(204, 204, 204);
    padding: 4px 8px;
    height: 21px;
    text-justify: center;
    size: 12px;
    margin-bottom: 4px;
}

.form_element_fbwidget {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: var(--theme-border-radius);
    background-color: white;
    padding: 4px;
    width: 180px;
    color: black;
    font-size: 14px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    cursor: grab;
    user-select: none; /* Standard syntax */
}

.form_element_fbwidget:hover {
    outline: 1px solid black;
    background-color: rgb(221, 249, 253);
}

.form_element_fbwidget > img {
    width: auto;
    height: 25px;
}

.mockup_background_field_fbwidget {
    /* width: 70%; */
    flex-grow: 1;
    background-color: #f3f3f3;
    padding: 10px 10px;
}

.mockup_wrapper_fbwidget {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgb(204, 204, 204);
    border-radius: var(--theme-border-radius);
    height: 500px;
}

.mockup_wrapper_top_level_fbwidget {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgb(204, 204, 204);
    border-radius: var(--theme-border-radius);
    background-color: white;
    width: 70%;
    height: 500px;
}

.mockup_main_fbwidget {
    min-height: 5px;
}

.mockup_input_element_wrapper_fbwidget {
    display: flex;
    justify-content: space-between;
    z-index: 10;
    margin: 0px 4px;
    box-shadow: 0px 0px 2px 2px rgba(194, 194, 194, 0.548);
    border-radius: var(--theme-border-radius) !important;
    background-color: #ffffff;
}

.mockup_input_element_wrapper_fbwidget--selected {
    display: flex;
    justify-content: space-between;
    z-index: 10;
    margin: 0px 4px;
    box-shadow: 0px 0px 2px 2px rgba(194, 194, 194, 0.548);
    border-radius: var(--theme-border-radius) !important;
    background-color: #eff0ff;
}

.mockup_app_header_fbwidget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--theme-border-radius) var(--theme-border-radius) 0px 0px;
    background-color: #03a9f5;
    height: 36px;
}

.tabs_mockup_wrapper_fbwidget {
    padding: 0;
}

.tab_fbwidget {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 2px 2px rgba(210, 210, 211, 0.192);
    border-radius: 0px 0px var(--theme-border-radius) var(--theme-border-radius);
    padding: 0 0 0 10px;
}

.tab-active_fbwidget {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 2px 2px rgba(181, 180, 187, 0.425);
    border-radius: 0px 0px var(--theme-border-radius) var(--theme-border-radius);
    background-color: #b9b9b963;
    padding: 0 0 0 10px;
}

.tab_close-button_fbwidget {
    color: #252525;
}

.settings_fbwidget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 295px;
}

.data_fbwidget {
    border-bottom: none;
    padding-bottom: 20px;
}

.props_fbwidget {
    min-height: 100px;
}
