.ngw-formbuilder-editor-widget-cascade-options-input-modal > .ant-modal {
  margin: 1em;
  padding: 0;
  width: 50%;
  min-width: 40em;
  max-width: 60em;
  height: 80%;
  min-height: 40em;

  .ngw-formbuilder-editor-widget-cascade-options-input-modal-title {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: var(--ant-padding);
  }

  > .ant-modal-container {
    display: flex;
    flex-direction: column;
    padding: var(--ant-padding);
    height: 100%;

    > .ant-modal-header {
      margin-block-end: var(--ant-padding);

      > .ant-modal-title {
        align-items: unset;
        width: 100%;

        > .ngw-formbuilder-editor-widget-cascade-options-input-modal-done-button {
          margin-inline-start: auto;
        }
      }
    }

    > .ant-modal-body {
      display: flex;
      flex-grow: 1;
      flex-direction: column;

      height: "100%";

      > .dependent-stub {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--color-border-secondary);
        border-radius: var(--border-radius);
        height: 100%;
        color: var(--color-text-quaternary);
      }
    }
  }
}
